<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Blog</title>
    <link rel="stylesheet" href='/styles.css'/>
</head>
<body>
    <div class="box">
        <form action="/create" method="POST">
            <label for="Name">Name</label>
            <input type="text" name="Name" required><br><br>
            <label for="Place">Snippet</label>
            <input type="text" name="Snippet" required><br><br>
            <label for="State">Blog</label>
            <textarea type="text" name="Blog" required></textarea><br><br>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>